.homeBg{
    font-family: 'Poppins', sans-serif;
    height: 800px;
    background-image:url('../assets/images/bg.jpg');
    background-repeat :no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-left: 100px;
    background-position: center center;
    
}

