.destination{
    font-family: 'Poppins', sans-serif;
    /* height: 800px; */
    padding-top: 100px;
    background-position: center center;
}
.dest{
    text-align: center;
    width: 50%;
    margin: auto;
}
.dest h1{
    font-size: 25px;
    font-style:oblique;
}
.dest p{
    font-style:"cursive";
    color: red;
}
.button{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

@media screen and (min-width:300px) {
    .inp{
        width: "20px";
        height: "20px";
    }
}