.single{
    font-family: 'Poppins', sans-serif;
    padding-top: 80px;
    background-position: center center;
}
#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.bottom{
    width: 30%;
    margin: auto;
    display: flex;
    font-size: 20px;
    margin-bottom: 30px;
    font-size: 30px;
    margin-top: 50px;

}
@media screen and (max-width: 450px) {
  .bottom {
    width: 80%; /* Adjust the width for mobile screens */
    font-size: 24px; 
  }
}

.innerradio{
    font-size: 40px;
}
